.page-container {
  font-size: var(--font-size-h2);
  font-weight: 700;
  margin: auto 0;
  color: var(--color-gray-dark);
}

.contact-hero {
  background-color: var(--color-background);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 50px;
}
